Frontend/Ghcjs/Implementations/AllTheTautologies/dist/**.js generated
Frontend/Ghcjs/Implementations/FOLBox/dist/**.js generated
Frontend/Ghcjs/Implementations/ShowThis/dist/**.js generated
Frontend/Haste/Implementations/**.js linguist-vendored 





