cabal-dev
setup-config
package.conf.inplace/
autogen/
*-tmp
*.o
*.hi
*.chi
*.chs.h
*.sw?
*.vim
*.stats
/main/
.virtualenv
.hsenv
.DS_Store
.cabal-sandbox/
cabal.sandbox.config
cabal.config
/.project
/.dist-buildwrapper/
