div.open {
   margin-left: 5px;
   margin-bottom: 5px;
   padding-left: 5px;
   border-left: 1px dashed #999; 
}

div.closed {
   margin-left: 5px;
   margin-bottom: 5px;
   padding-left: 5px;
   border-left: 1px solid #999; 
   border-bottom: 1px solid #999; 
}

div.linedwrap {
    display: inline-block;
}

span.termination {
    height: 1em;
    display: inline-block;
}

span:nth-child(2) {
    /* text-align: right; */
    display:block;
    float:right;
    margin-right:50pt;
}

textarea.lined {
    height: 500pt;
    width: 50%;
    resize: none;
}


textarea.lined {
    outline: none;
}

textarea { 
    -moz-tab-size:4; 
    -o-tab-size:4; 
    tab-size:4; 
}

#rslt, #root {
    margin-left:50pt; 
    position: absolute;
    left: 50%;
    width:40%
}

#analysis {
    position: absolute;
}

#analysis div {
    height: 1em;
}
