body { 
    min-width: 600pt;
    padding-left:150pt;
    padding-right:150pt;
    font-family:"Linux Libertine";
    font-size:14pt;
}

p {
    max-width: 600pt;
    line-height:130%;
}

sup, sub {
   vertical-align: baseline;
   position: relative;
   top: -0.4em;
}

sub { top: 0.4em; }

blockquote {
    border-left: solid 5pt #ccc;
    margin-left: 10pt;
    padding-left:10pt;
}

h1,h2,h3,h4 {
    font-family: "Linux Biolinum";
}

h2 {
    font-size:16pt;
}

blockquote span.citation {
    display:block;
    text-align:right;
    padding:5pt;
    
}

div.open {
   margin-left: 5px;
   margin-bottom: 5px;
   padding-left: 5px;
   border-left: 1px dashed #999; 
}

div.closed {
   margin-left: 5px;
   margin-bottom: 5px;
   padding-left: 5px;
   border-left: 1px solid #999; 
   border-bottom: 1px solid #999; 
}

span.termination {
    height: 1em;
    display: inline-block;
}

.root span:nth-child(2) {
    display:block;
    float:right;
    margin-left: 5pt;
}

div#proof1 textarea.lined {
    height:250pt
}

div#proof2 textarea.lined {
    height:320pt
}

textarea.lined {
    width: 300pt;
    resize: none;
    outline: none;
    margin-bottom:1pt;
}

textarea { 
    -moz-tab-size:4; 
    -o-tab-size:4; 
    tab-size:4; 
}

.linedwrap {
    display: inline-block;
}

.rslt, .root {
    position: absolute;
    left:650px;
    width:30%;
    min-width:250pt;
    display:inline-block;
}

.root {
    padding-top: 1em
}

.analysis {
    padding-top: 1em;
    display:inline-block;
    position:absolute;
    padding-left:35%;
}

@media (max-width:820pt) {
    .analysis {
    padding-left:288pt;
    }
    .rslt, .root {
        left:350pt;
    }
    body {
        padding-left:10pt;
        padding-right:10pt;
    }
}

#proofBoxContainer {
    display:inline-block;
}

.analysis > div {
    height: 1.17em;
}

.analysis div div.errormsg {
    z-index:10;
    display:none; 
    padding:14px 20px;
    margin-top:-30px; 
    margin-left:-345px;
    width:300px; 
    line-height:16px;
    overflow: auto;
}

.analysis > div:hover div.errormsg{
    display:inline; 
    position:absolute; 
    border:2px solid #FFF;  
    color:#EEE;
    background:#333;
}

.analysis div div.errormsg div > div:hover > div.suberr{
    display:inline;
}

.analysis div:hover div.errormsg div.suberr{
    display:none;
}

.analysis div.suberr > div:hover > div.suberr{
    display:inline;
}

.analysis div.uniblock {
    display:inline-block;
    vertical-align:middle;
}

.analysis div div.errormsg div.uniblock{
    padding:5pt;
}

div.help{
    position:fixed;
    top:0pt;
    bottom:10pt;
    left:40pt;
    right:40pt;
    padding:25pt;
    margin-top:50pt;
    margin-bottom:50pt;
    overflow:auto;
    border:2px solid #FFF;  
    color:#EEE;
    background:#333;
    display:none;
    z-index:1;
}

div.help table{
    width: 2000pt;
    border-spacing: 0;
}

div.help table tbody tr td {
    border-bottom:1px solid white;
    padding-top:10pt;
    padding-bottom:10pt;
}

div#TOC {
    float:right;
}

div#TOC ul {
    list-style-type:none;
}


a:link {
    color:#000;
    text-decoration: none;
    font-size:14pt;
    background-image: linear-gradient(to top,
        rgba(150,0,0,0) 11%,
        rgba(150,0,0,.3) 11%,
        rgba(150,0,0,.3) 16%,
        rgba(150,0,0,0) 16%
    );
}

a.footnoteRef:link {
    color:#C99;
    background-image: none;
}

a.footnoteRef:visited {
    background-image: none;
}

a:visited {
    color:#888;
    text-decoration: none;
    font-size:14pt;
    background-image: linear-gradient(to top,
        rgba(150,0,0,0) 11%,
        rgba(150,0,0,.3) 11%,
        rgba(150,0,0,.3) 16%,
        rgba(150,0,0,0) 16%
    );
}

h1.title {
    font-size:60pt;
    margin-top:25pt;
    margin-bottom:10pt;
}
h1.subtitle{
    font-size:20pt;
    margin-bottom:10pt;
    margin-top:0pt;
    margin-left:10pt;
}
