@font-face {
    font-family: 'Linux Libertine'; /* normal */
    src: url('./LinLibertineWOFF/LinLibertine_R.woff') format('woff');
    font-weight: normal;
    font-style: normal;
} 

@font-face {
    font-family: 'Linux Libertine'; /* normal */
    src: url('./LinLibertineWOFF/LinLibertine_RI.woff') format('woff');
    font-weight: normal;
    font-style: italic;
} 

@font-face {
    font-family: 'Linux Biolinum'; /* normal */
    src: url('./LinLibertineWOFF/LinBiolinum_RB.woff') format('woff');
    font-weight: bold;
    font-style: normal;
} 

body { 
    font-family:"Linux Libertine";
    font-size:14pt;
    margin:0pt;
}

header {
    background: black;
    margin-bottom:20pt;
}

header h1 {
    padding-left:150pt;
}

header li {
    display:inline;
    padding-right:50pt;
    margin-top:10pt;
}

header ul {
    padding:0pt;
    margin:0pt;
    text-align:right;
    background:white;
}

header a {
    color:black;
    text-decoration:none;
}

article {
    min-width: 600pt;
    padding-left:150pt;
    padding-right:150pt;
}

p {
    max-width: 600pt;
    line-height:130%;
}

em {
    font-style:italic;
    font-weight:lighter;
}

sup, sub {
   vertical-align: baseline;
   position: relative;
   top: -0.4em;
}

sub { top: 0.4em; }

blockquote {
    border-left: solid 5pt #ccc;
    margin-left: 10pt;
    padding-left:10pt;
}

h1,h2,h3,h4 {
    font-family: "Linux Biolinum";
}

h2 {
    font-size:16pt;
}

blockquote span.citation {
    display:block;
    text-align:right;
    padding:5pt;
    
}

div.open {
   margin-left: 5px;
   margin-bottom: 5px;
   padding-left: 5px;
   border-left: 1px dashed #999; 
}

div.closed {
   margin-left: 5px;
   margin-bottom: 5px;
   padding-left: 5px;
   border-left: 1px solid #999; 
   border-bottom: 1px solid #999; 
}

span.termination {
    height: 1em;
    display: inline-block;
}

.root span:nth-child(2) {
    display:block;
    float:right;
    margin-left: 5pt;
}

div#proof1 textarea.lined {
    height:250pt
}

div#proof2 textarea.lined {
    height:320pt
}

div#proof3 textarea.lined {
    height:310pt
}

textarea.lined {
    width: 300pt;
    resize: none;
    outline: none;
    margin-bottom:1pt;
}

textarea { 
    -moz-tab-size:4; 
    -o-tab-size:4; 
    tab-size:4; 
}

.linedwrap {
    display: inline-block;
}

.rslt, .root {
    position: absolute;
    left:450px;
    min-width:250pt;
    display:inline-block;
    padding-bottom:5pt;
    padding-top:5pt;
    font-size:12pt;
    height:280pt;
}

.root {
    white-space: nowrap;
    overflow:scroll;
    padding-top: 2em;
    vertical-align:bottom;
}

#proof3 .root {
    padding-top:3em;
    -webkit-mask-image: -webkit-gradient(linear, center top, center bottom,
    from(rgba(0,0,0,0)), 
    color-stop(0.85, rgba(0,0,0,1)), 
    color-stop(0.13, rgba(0,0,0,1)), 
    color-stop(0.10, rgba(0,0,0,0)), to(rgba(0,0,0,0))); 
}

#proof3 .rslt {
    width:300pt;
}

#proof3 .analysis {
    padding-left:360pt;
}


.analysis {
    padding-top: 2em;
    display:inline-block;
    position:absolute;
    padding-left:300pt;
    font-size:12pt;
}

@media (max-width:820pt) {
    .analysis {
    padding-left:310pt;
    }
    .rslt, .root {
        left:350pt;
    }
    article {
        padding-left:10pt;
        padding-right:10pt;
    }
    header h1 {
        padding-left:10pt;
        padding-right:10pt;
    }
}

#proofBoxContainer {
    display:inline-block;
}

.analysis > div {
    height: 1.165em;
}

.analysis div div.errormsg {
    z-index:10;
    display:none; 
    padding:14px 20px;
    margin-top:-30px; 
    margin-left:-345px;
    width:300px; 
    line-height:16px;
    overflow: auto;
}

.analysis > div:hover div.errormsg{
    display:inline; 
    position:absolute; 
    border:2px solid #FFF;  
    color:#EEE;
    background:#333;
}

.analysis div div.errormsg div > div:hover > div.suberr{
    display:inline;
}

.analysis div:hover div.errormsg div.suberr{
    display:none;
}

.analysis div.suberr > div:hover > div.suberr{
    display:inline;
}

.analysis div.uniblock {
    display:inline-block;
    vertical-align:middle;
}

.analysis div div.errormsg div.uniblock{
    padding:5pt;
}

.popup{
    position:fixed;
    top:0pt;
    bottom:10pt;
    left:40pt;
    right:40pt;
    padding:25pt;
    margin-top:50pt;
    margin-bottom:50pt;
    overflow:auto;
    border:2px solid #FFF;  
    color:#EEE;
    background:#333;
    display:none;
    z-index:1;
}

.popup div {
    padding:10pt;
    margin:20pt;
    margin-right:60pt;
    border: 1px solid white;
}

.popup div.closer{
    position: fixed;
    top:60pt;
    right:55pt;
    z-index:2;
    font-size:25pt;
    margin:0pt;
    border: none;
}

.closer:hover {
    font-weight:900;
    transition: font-weight 0.6s ease-out;
    -ms-transition: font-weight  0.6s ease-out;
    -moz-transition: font-weight 0.6s ease-out;
    -webkit-transition: font-weight 0.6s ease-out;
}

.popup table{
    border-spacing: 0;
    table-layout:fixed;
    margin-left:50pt;
}

.popup table tbody tr td {
    border-bottom:1px solid white;
    padding:10pt;
}

.popup table tbody tr td:not(:first-child) {
    min-width:150pt;
}

.popup table tbody tr td:first-child {
    border-right:1px solid white;
}

div#TOC {
    float:right;
}

div#TOC ul {
    list-style-type:none;
}

article a:link {
    color:#000;
    text-decoration: none;
    font-size:14pt;
    background-image: linear-gradient(to top,
        rgba(200,0,0,0) 2%,
        rgba(200,0,0,.3) 2%,
        rgba(200,0,0,.3) 16%,
        rgba(200,0,0,0) 16%
    );
}

article a.footnoteRef:link {
    color:#C99;
    background-image: none;
}

article a.footnoteRef:visited {
    background-image: none;
}

article a:visited {
    color:#888;
    text-decoration: none;
    font-size:14pt;
    background-image: linear-gradient(to top,
        rgba(150,0,0,0) 11%,
        rgba(150,0,0,.3) 11%,
        rgba(150,0,0,.3) 16%,
        rgba(150,0,0,0) 16%
    );
}

h1.title {
    font-size:60pt;
    margin-top:0pt;
    margin-bottom:10pt;
    color: white;
}

h1.subtitle{
    font-size:20pt;
    padding-bottom:15pt;
    margin-left:10pt;
    color:white;
}

.loading {
    opacity: .3;
    transition: opacity 0.6s ease-out;
    -ms-transition: opacity 0.6s ease-out;
    -moz-transition: opacity 0.6s ease-out;
    -webkit-transition: opacity 0.6s ease-out;
}

.sliderVisible {
    position:absolute;
    left:0pt
    transition: opacity 0.6s ease, left 0.6s ease;
    -webkit-transition: opacity 0.6s ease, left 0.6s ease; /** Chrome & Safari **/
    -moz-transition: opacity 0.6s ease, left 0.6s ease; /** Firefox **/
    -o-transition: opacity 0.6s ease, left 0.6s ease; /** Opera **/
    z-index:1;
}

.sliderHidden {
    position: absolute;
    left:100pt;
    opacity:0;
    transition: opacity 0.6s ease, left 0.6s ease;
    -webkit-transition: opacity 0.6s ease, left 0.6s ease; /** Chrome & Safari **/
    -moz-transition: opacity 0.6s ease, left 0.6s ease; /** Firefox **/
    -o-transition: opacity 0.6s ease, left 0.6s ease; /** Opera **/
}

.sliderViewed {
    position: absolute;
    left:-100pt;
    opacity:0;
    transition: opacity 0.6s ease, left 0.6s ease;
    -webkit-transition: opacity 0.6s ease, left 0.6s ease; /** Chrome & Safari **/
    -moz-transition: opacity 0.6s ease, left 0.6s ease; /** Firefox **/
    -o-transition: opacity 0.6s ease, left 0.6s ease; /** Opera **/
}

.slider {
    height:400pt;
    position:relative;
}

.slider p:first-child {
    margin-top:0pt;
}


button.prevA {
    position:absolute;
    bottom:0pt;
    left:0pt;
}

button.nextA {
    position:absolute;
    bottom:0pt;
    left:575pt;
}
