body { 
    min-width: 800pt;
}

div.open {
   margin-left: 5px;
   margin-bottom: 5px;
   padding-left: 5px;
   border-left: 1px dashed #999; 
}

div.closed {
   margin-left: 5px;
   margin-bottom: 5px;
   padding-left: 5px;
   border-left: 1px solid #999; 
   border-bottom: 1px solid #999; 
}

div.centering {
    padding-right:400pt;
}

span.termination {
    height: 1em;
    display: inline-block;
}

/* .root div:nth-child(1) { */
/*     height: 1.2em; */
/* } */

.root span:nth-child(2) {
    display:block;
    float:right;
}

textarea.lined {
    height: 300pt;
    width: 400pt;
    resize: none;
    outline: none;
}

textarea { 
    -moz-tab-size:4; 
    -o-tab-size:4; 
    tab-size:4; 
}

.linedwrap {
    display: inline-block;
}

.rslt, .root {
    position: absolute;
    left:600px;
    width:80%;
    display:inline-block;
}

.root {
    padding-top: 1em
}

.analysis {
    padding-top: 1em;
    display:inline-block;
    position:absolute;
    padding-left:80%;
    margin-left:65pt;
}

.analysis div div.errormsg {
    z-index:10;
    display:none; 
    padding:14px 20px;
    margin-top:-30px; 
    margin-left:-345px;
    width:300px; 
    max-height:300px;
    line-height:16px;
    overflow: auto;
}

.analysis div:hover div.errormsg{
    display:inline; position:absolute; 
    border:2px solid #FFF;  color:#EEE;
    background:#333;
}

.analysis > div {
    height: 1.2em;
}

.analysis div div.errormsg div.uniblock{
    padding:5pt;
}

.bespoke-bullet-inactive {
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    position: relative;
    left:10pt;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}

.bespoke-bullet-active {
    position: relative;
    left:0pt;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}
